<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>{{ title }} is working</h1>

  {% for obj in object_list %}
    {% url "posts:detail" id=obj.id %}
    <h3>{{ obj.id }}</h3>
    <a href='{{ obj.get_absolute_url }}'>{{ obj.title}}</a>
    <h4>{{ obj.content }}</h4>
    <h5>{{ obj.timestamp }}</h5>
    <h5>{{ obj.updated }}</h5>
  {% endfor %}

</body>
</html>
